* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 1.5em;
    text-align: center;
}

ul#list {
    display: flex;
    list-style: none;
}

ul#list li {
    display: block;
    min-width: 400px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 2em;
    margin-left: 2em;
}

ul#list li a {
    text-align: center;
    font-size: 1.2em;
}

ul#list li a:first-of-type {
    border-right: 10px solid rgb(212, 235, 186);
    padding-right: 10px;
}


ul#list li a img {
    margin-top: 10px;
    width: 600px;
    height: auto;
}

li {
    font-style: italic;
    max-width: 600px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 600px;
    height: auto;
}

div#links {
    text-align: center;
    padding-top: 2em;
    font-size: 1.1em;
    line-height: 1.5em;
}